:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* *{
  border: solid 1px red;
} */
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--color-negro);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand2);
}

img {
  width: 100%;
}

.shadow-effect {
  transition: all 0.5s;
}
.shadow-effect:hover {
  box-shadow: 0 0 0 2px var(--color-body);
}

.navbar {
  background-color: black;
  margin-bottom: 1rem;
}
.navbar-collapse {
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
}
.navbar .nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-negro);
}

.navbar .nav-link:hover {
  color: var(--color-base);
}
.collapse {
  background-color: #000000;
}
.navbar-collapse ul {
  background-color: #000000;
  color: white;
}

.navbar .nav-link.active {
  color: var(--color-negro);
}

.logo {
  width: 6rem;
}

/* HERO */
.hero {
  /* border: solid 1px salmon; */
  height: 40vh;
  display: flex;
  min-width: 300px;
  overflow: hidden;
}
.hero h1 {
  /* border: solid 1px red; */
  margin-left: 7rem;
  width: 80%;
  font-size: calc(40vh / 8);
  margin-top: 8%;
  text-shadow: 15px 15px 10px black;
}
.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  /* width: calc(100% / 3); */
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 1;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* ____________________________ */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* CARD CUSTOMIZADA */
.custom-card-img {
  height: 150px; /* altura personalizada para las imágenes */
  object-fit: cover; /* mantiene la proporción de la imagen */
}

.custom-card-body {
  padding: 0.5rem; /* reducir el padding en el cuerpo de la tarjeta */
}

.small-text {
  font-size: 0.8rem; /* texto más pequeño si es necesario */
}

/* VISTA DETALLADA */
.calendar {
  border: none !important;
}

/* RATINGS */
.ratings i {
  color: #cecece;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px black;
}
.rating-color {
  color: #fbc634 !important;
}
